body {
    background-color: black;
    text-align: center;
    background-image: url(glitch.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    color:seashell;
    font-size: 4em;
    font-family: “Playfair Display”, “Didot”, "Times New Roman", Times, serif;
    padding: 2px 0 0 0;
}
h3 {
    color: white;
    font-size: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
}
img {
    margin-left: auto;
    margin-right: auto;
    padding: 1em 0 .25em 0;
    max-height: 200px;
    max-width: 200px;
}
p {
    padding-top: 2px;
    padding-bottom: 2px;
}
hr {
    margin-top: .5em;
    margin-left: auto;
    margin-bottom: 2.5em;
    margin-right: auto;
    width: 40%;
}
.button {
    font: bold 2em Arial;
    text-decoration: none;
    color:chartreuse;
    text-decoration: none;
    border: 2px solid;
    border-color: darkgrey;
    height: 2em;
    width: 60%;
    padding: 1.5em 0 .5em 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
    margin-bottom: 1px;
    background-color: rgba(2, 0, 104, .7);
    display: inline-block;
}
.button:hover {
    background-color: rgba(2, 0, 104, 1);
}